* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  height: 1000px;

  background-image: url(img/interro.jpg);
  font-family: 'Inconsolata'; monospace;
  font-size: 30px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box h3 {
  position: relative;
  top: -30vh;
  left: 34vh;
  font-weight: bold;
  background-color: #99CC99;
  padding: 10px;
}

.morpion {
    display: flex;
    flex-wrap: wrap;
    min-width: 50vh;
    height: 50vh;
    border: 3px solid #33FF99;
}

.case{
    width: calc(1/3 * 100%);
    height: calc(1/3 * 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    background-color: #99CC99;
}

.thema {
  width: 20vh;
  height: 50vh;
  border: 3px solid #33FF99;
  background-color: #99CC99;
  position: relative;
  bottom: 75vh;
  left: 50vh;
  text-align: center;
}

.thema h3 {
  font-weight: bold;
}
